flows/Contact_Flow_After.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_contact_To_Account_field</name>
        <label>Add contact To Account field</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_ACcount_Records.Active_Contacts__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Toaddacontact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_ACcount_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Active_Contact_field</name>
        <label>Update Active Contact field</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Account_Records.Active_Contacts__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateListRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updated_Account_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_field</name>
        <label>Update field</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Account_Records.Active_Contacts__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Toaddacontact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateRecordsOfAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Add</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Toaddacontact</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Insert_or_Update_case</name>
        <label>Check Insert or Update case</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ACcount_Records</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Records</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_3</name>
        <label>Check Status field</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed_status_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Active_Contact_field</targetReference>
            </connector>
            <label>Changed status field</label>
        </rules>
        <rules>
            <name>Status_field_changed_to_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_field</targetReference>
            </connector>
            <label>Status field changed to Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_status_field</name>
        <label>Filter status field</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_contact_To_Account_field</targetReference>
            </connector>
            <label>Active Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewRecords</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Contact Flow- After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Flow- After</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account_Records</name>
        <label>Account Records</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active_Contacts__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ACcount_Records</name>
        <label>Get ACcount Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_status_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active_Contacts__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Records</name>
        <label>Update Account Records</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>AccList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputReference>updateRecordsOfAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updated_Account_Records</name>
        <label>updated Account Records</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputReference>UpdateListRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Insert_or_Update_case</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UpdateListRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>updateRecordsOfAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>updaterecrords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
